<div class="row">
  <div class="col-md-8 mb-5">
    <div *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
    </div>
  </div>
</div>

<!-- User NOT logged in -->
<ng-template #guest class="card">
  <h3>Hi, Guest</h3>
  <p class="card-text">Please login to get started...</p>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img class="img-responsive" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" height=auto width=100px>
    <p class="text-truncate">UID: {{ user.uid }}</p>
    <button class="btn btn-primary" (click)="logout()">Logout</button>
  </div>
</ng-template>