<div class="row">
    <div class="col-md-12">
        <form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signup()">
            <h3>New User Signup</h3>
            <button class="btn btn-primary" (click)="toggleForm()">Already Registered?</button>
            <hr>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="email" id="email" name="email" aria-describedby="emailHelp" required autocomplete="new-password">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <div *ngIf="formErrors.email" class="alert alert-danger">
                    {{ formErrors.email }}
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" id="password" name="password" aria-describedby="passwordHelp" required>
                <small id="passwordHelp" class="form-text text-muted">12 to 40 characters. At least one letter and one number.</small>
                <div *ngIf="formErrors.password" class="alert alert-danger">
                    {{ formErrors.password }}
                </div>
            </div>
            
            <div *ngIf="userForm.valid" class="alert alert-success">
                Your form information looks valid.
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <form [formGroup]="userForm" *ngIf="!newUser" (ngSubmit)="login()">

            <h3>Existing User Login</h3>
            <button class="btn btn-outline-primary" (click)="toggleForm()">New User?</button>
            <hr>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email2" class="form-control" formControlName="email" required autocomplete="new-password">
            
                <div *ngIf="formErrors.email" class="alert alert-danger">
                    {{ formErrors.email }}
                </div>
            </div>
        
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password2" class="form-control" formControlName="password" required autocomplete="new-password">
            
                <div *ngIf="formErrors.password" class="alert alert-danger">
                    {{ formErrors.password }}
                </div>
            </div>
        
            <button type="submit" class="btn btn-outline-primary" [disabled]="!userForm.valid">Submit</button>
        
            <span *ngIf="userForm.valid" class="alert alert-success">Your form information looks valid.</span>
        
            <a *ngIf="!passReset && userForm.controls.email.valid" class="alert alert-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
            <p *ngIf="passReset" class="alert alert-info">Reset requested. Check your email instructions.</p>
        </form>
    </div>
</div>